<% for(var i=0; i<data.products.length; i++) { %>
	<% if (i % 2 === 0) { %>
	<tr>
		<td>
			<table class="l-two-col l-float-row">
				<tr>
				<% } %>
					<td class="product-outer l-one-col l-float l-border">
						<table class="l-one-col">
							<tr>
								<td class="product-image-outer">
									<a href="<%= data.products[i].link %>" target="_blank"><img src="images/<%= data.products[i].image %>" class="product-image" alt="<%= data.products[i].name %>" title="<%= data.products[i].name %>" height="216" width="216" align="center"/></a>
								</td>
							</tr>
							<tr>
								<td>
									<h6 class="product-title"><a href="<%= data.products[i].link %>" target="_blank"><%= data.products[i].name %></a></h6>
									<p class="product-price"><a href="<%= data.products[i].link %>" target="_blank">£<%= data.products[i].price %></a></p>
								</td>
							</tr>
						</table>
					</td>
				<% if (i % 2 === 0) { %>
					<td class="l-gutter" bgcolor="#000000">&nbsp;</td>
				<% } else { %>
				</tr>
			</table>
		</td>
	</tr>
	<tr class="product-space">
		<td class="space-18"></td>
	</tr>
	<% } %>
<% } %>