<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Clubline</title>
	<style type="text/css">
		/* Based on The MailChimp Reset INLINE: Yes. */
		/* Client-specific Styles */
		#outlook a {padding:0;} /* Force Outlook to provide a "view in browser" menu link. */
		body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
		/* Prevent Webkit and Windows Mobile platforms from changing default font sizes.*/
		.ExternalClass {width:100%;} /* Force Hotmail to display emails at full width */
		.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;}
		/* Forces Hotmail to display normal line spacing.  More on that: http://www.emailonacid.com/forum/viewthread/43/ */
		#backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
		/* End reset */
	</style>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<!--[if gte mso 9]>
		<style>
		/* Target Outlook 2007 and 2010 */
		</style>
	<![endif]-->
</head>
<body>
<table id="backgroundTable">
	<tr>
		<td valign="top">
			<table align="center" class="wrapper">
				<!-- Preheader -->
				<tr>
					<td>
						<table class="preheader l-page-width">
							<tr>
								<!-- Preheader text -->
								<td class="preheader-item">Get our Christmas deals delivered free</td>
								<!-- END Preheader text -->
								<td class="preheader-item right">
									<a href="[VIEW_ONLINE_HTML]">View this email in your browser</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td class="space-15"></td>
				</tr>
				<!-- END Preheader -->
				<!-- Page -->
				<tr>
					<td>
						<table class="page l-page-width">
							<!-- Header -->
							<tr>
								<td>
									<table class="header l-page-width">
										<tr>
											<td>
												<table class="header-nav l-page-width">
													<tr>
														<td class="header-nav-item">
															<a href="#">Ball deals</a>
														</td>
														<td class="header-nav-item">
															<a href="#">Kits</a>
														</td>
														<td class="header-nav-item">
															<a href="#">Football equipment</a>
														</td>
														<td class="header-nav-item">
															<a href="#">Training wear</a>
														</td>
													</tr>
												</table>
											</td>
										</tr>
										<tr>
											<td class="space-15"></td>
										</tr>
										<tr>
											<td>
												<table class="header-main l-page-width">
													<tr>
														<td class="l-gutter"></td>
														<td class="header-main-left">
															<img src="images/logo.png" alt="Clubline" title="Clubline logo" width="300" height="90" />
														</td>
														<td class="l-gutter"></td>
														<td class="header-main-right">
															<img src="images/strapline.png" alt="Everything Football" title="Everything Football" width="150" height="90" />
														</td>
														<td class="l-gutter"></td>
													</tr>
												</table>
											</td>
										</tr>
										<tr>
											<td class="space-15"></td>
										</tr>
										<tr>
											<td>
												<table class="quote l-page-width">
													<tr>
														<td class="l-gutter"></td>
														<td>
															<table class="l-two-col">
																<tr>
																	<td class="space-15 l-border-top"></td>
																</tr>
																<tr>
																	<td class="quote-item">
																		"And for those of you watching on black-and-white sets, Everton are wearing the blue shirts."
																		<span class="quote-name">David Coleman</span>
																	</td>
																</tr>
																<tr>
																	<td class="space-15 l-border-bottom"></td>
																</tr>
															</table>
														</td>
														<td class="l-gutter"></td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<!-- END Header -->
							<!-- END Main -->
							<tr>
								<td>
									<table class="main l-page-width">
										<!-- Main: subject -->
										<tr>
											<td class="space-15"></td>
										</tr>
										<tr>
											<td>
												<table class="l-page-width">
													<tr>
														<td class="l-gutter"></td>
														<td class="main-subject">
															<h1>FREE DELIVERY <span class="light">this weekend only!</span></h1>
														</td>
														<td class="l-gutter"></td>
													</tr>
												</table>
											</td>
										</tr>
										<tr>
											<td class="space-15"></td>
										</tr>
										<!-- END Main: subject -->
										<!-- Feature -->
										<tr>
											<td class="feature">
												<a href="#">
													<img src="images/feature.png" alt="Feature" title="Main feature" width="660" height="360" />
												</a>
											</td>
										</tr>
										<!-- Feature -->
										<tr>
											<td class="space-15"></td>
										</tr>
										<!-- Description -->
										<tr>
											<td>
												<table class="l-page-width">
													<tr>
														<td class="l-gutter"></td>
														<td class="description">
															<h4>Free text</h4>
															<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
														</td>
														<td class="l-gutter"></td>
													</tr>
												</table>
											</td>
										</tr>
										<!-- END Description -->
										<tr>
											<td class="space-30"></td>
										</tr>
										<!-- Products -->
										<tr>
											<td>
												<table class="l-page-width">
													<tr>
														<td class="l-gutter"></td>
														<td class="products">
															<table class="l-two-col">
																<% include inc/_product.html %>
															</table>
														</td>
														<td class="l-gutter"></td>
													</tr>
												</table>
											</td>
										</tr>
										<tr>
											<td class="space-12"></td>
										</tr>
										<!-- END Products -->
										<!-- Banners -->
										<tr>
											<td>
												<table class="l-page-width">
													<tr>
														<td class="l-gutter"></td>
														<td class="banners">
															<img src="images/banner.png" class="banner" alt="Banner name" title="Banner name" height="120" width="620"/>
														</td>
														<td class="l-gutter"></td>
													</tr>
												</table>
											</td>
										</tr>
										<!-- END Banners -->
										<tr>
											<td class="space-12"></td>
										</tr>
										<!-- Social -->
										<tr>
											<td>
												<table class="l-page-width">
													<tr>		
														<td class="l-gutter"></td>
														<td>
															<table class="social l-two-col">
																<tr>
																	<td class="social-item l-one-col">
																		<a href="#"><img src="images/social-fb.png" alt="Share on Facebook" height="90" width="310" /></a>
																	</td>
																	<td class="social-item l-one-col">
																		<a href="#"><img src="images/social-twitter.png" alt="Share on Twitter" height="90" width="310" /></a>
																	</td>
																</tr>
															</table>
														</td>
														<td class="l-gutter"></td>
													</tr>
												</table>
											</td>
										</tr>
										<!-- END Social -->
										<tr>
											<td class="space-24"></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<!-- END Page -->
				<!-- Postfooter -->
				<tr>
					<td>
						<table class="postfooter">
							<tr>
								<td class="space-24"></td>
							</tr>
							<tr>
								<td>
									<table class="l-page-width">
										<tr>		
											<td class="l-gutter"></td>
											<td>
												<p>&copy;<%= data.year %> Maudesport Ltd. | 1 Beecham Close | Aldridge | Walsall | WS9 8UZ <br/>
				Registered in England &amp; Wales 02665227</p>
												<p>To make sure emails from Maudesport always arrive in your inbox and are not treated as junk mail, please add <a href="mailto:clublinefootball@mailer.neteffekt.co.uk">clublinefootball@mailer.neteffekt.co.uk</a> to your email address book.</p>
												<p>You have received this email because you have registered your email address with Maudesport. If you would prefer not to receive such messages please <a href="[OPT_OUT_LINK]">click this link to unsubscribe</a>.</p>
											</td>
											<td class="l-gutter"></td>
										</tr>
									</table>
								</td>			
							</tr>
							<tr>
								<td class="space-24"></td>
							</tr>
						</table>
					</td>
				</tr>
				<!-- END Postfooter -->
			</table>

		</td>
	</tr>
</table>
<!-- End of wrapper table -->
</body>
</html>
