@mixin table-dims ($width: auto, $height: auto) {
	@if $width != auto {
		-premailer-width: strip-units($width);
		width: $width;
	}
	@if $height != auto {
		-premailer-height: strip-units($height);
		height: $height;
	}
}

@mixin table-dims-per ($width: auto, $height: auto) {
	@if $width != auto {
		-premailer-width: $width;
		width: $width;
	}
	@if $height != auto {
		-premailer-height: $height;
		height: $height;
	}
}

@function strip-units ($value) {
	@return $value / 1px;
}

// http://www.campaignmonitor.com/blog/post/3795/outlook-2013-says-no-to-empty-table-cells
@mixin spacer() {
	font-size: 1px;
	line-height: 1px;
	background: #FFFFFF;
}