
//  Type
	
	$font-family:"Helvetica Neue",Arial,sans-serif;


//  Layout

	$page-width:660px;
	$gutter-width:20px;


//  Colours

	$col-red: #871C14;
	$col-green: #006600;
	$col-green-dark: #263E26;
	$col-green-light: #E3E8E3; 
	$col-green-mid: mix($col-green, $col-green-light);

	$body-text-colour:#777777;
	$page-colour: #F9F9F9;

	$base-link-color: $col-green;
	$base-link-active-color: $col-green;
	$base-link-visited-color: $col-green;

	$base-heading-color: #333333;

	

// Breakpoints

	$bp-small: 320px;
	$bp-small-1: 480px;
	$bp-mid: 600px;