
//  Type
	
	$font-family:"Helvetica Neue",Arial,sans-serif;


//  Layout

	$page-width:660px;
	$gutter-width:20px;


//  Colours

	$body-text-colour:#777;

	$base-link-color: #0085B2;
	$base-link-active-color: #0085B2;
	$base-link-visited-color: #0085B2;

	$base-heading-color: #000000;

// Breakpoints

	$bp-small: 320px;
	$bp-small-1: 480px;
	$bp-mid: 600px;